{
    "presets": [
        [
            "next/babel",
            {
                "styled-jsx": {
                    "plugins": ["styled-jsx-plugin-sass"]
                },
                "optimizeForSpeed": true
            }
        ]
    ],
    "plugins": [
        [
            "styled-components",
            {
                "ssr": true
            }
        ]
    ]
}
